// Contact form (aplicated in pages: home, contact)

#contact-form {
    text-align: center;

    .form {
        padding: 50px 20px 0;

        input,
        select,
        textarea {
            width: 90%;
            margin: 10px 0;
            border: 1px solid rgba(0, 0, 0, .25);
            border-radius: 2px;
            padding: 10px 15px;
            font-size: $p-size;
            font-family: $baseFont;
            color: $color4;
        }

        select {
            width: 100%;
        }

        input[type="button"] {
            width: auto;
            color: #fff;
            padding: 10px 25px;
            border-radius: 2px;
            border: none;
            margin: 0 0 0 0;
            text-transform: uppercase;
        }
    }
}