// Form styles (Used on services.html)

form {
    margin-bottom: 30px;

    input {
        width: 90%;
        padding: 10px 5%;
        margin: 10px 0;
        background: $color5;
        border-radius: 2px;
        border: 1px solid $color1;
        font-family: 'Poppins';
        font-size: 17px;
        color: $p-color;
    }

}

form input[type=submit] {
    width: auto;
    padding: 10px 40px;
    margin: 0;
}