// Institutional (aplicated in pages: home, about)

// Video section
#institutional {
    text-align: center;
    background: $primaryBGColor;

    .inst-video img {
        width: 100%;
    }

    .inst-video i {
        font-size: 4em;
        color: $color1;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
    }
}

// Content section

#institutional .content {
    margin-top: 55px;

    .item {
        margin-bottom: 30px;

        i {
            font-size: 50px;
            color: $color1;
        }
    }
}

// Contact section

#contact-form #institutional {
    display: none;
}

// Media queries

@media only screen and (min-width: 760px) {

    #contact-form #institutional {
        display: block;
    }

}